html {
  box-sizing: border-box;
}


:root {
  --link-bg-color: #FF9900;
  --link-bg-foc-hov-color: #FFB84D;
  --link-bg-active-color: #E1670E;

  --link-border-color: #F90;
  --link-color: #FFF;
  --btn-color: #FFF;
  --btn-bg-color: #F90;
  --btn-bg-color-foc-hov: #FFB84D;
  --btn-bg-color-active: #E1670E;
  --logo-text-footer: #000;
  --logo-text-header: #FF9900;
  --nav-link-outline-focus: #FF9900;

  --nav-link-after-hover: #FF9900;
  --nav-link-after-active: #E1670E;
  --nav-link-color-active: #E1670E;

}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratRegular.eot');
  src: local('Montserrat-Regular'), local('Montserrat Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratSemiBold.eot');
  src: local('Montserrat-SemiBold'), local('Montserrat SemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratBold.eot');
  src: local('MontserratBold'), local('Montserrat Bold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/MontserratExtraBold.eot');
  src: local('Montserrat-ExtraBold'), local('Montserrat ExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  /* max-width: 1920px;
  width: 100%; */
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overflow-hidden {
  overflow: hidden;
}

.section-offsets {
  padding-bottom: 25px;
  padding-top: 25px;
}

.text {
  margin: 0;
}

.container {
  max-width: 1870px;
  padding: 0 50px;
  margin: 0 auto;
}

.logo {
  align-items: center;
}

.logo svg {
  fill: #000;
}

.btn {
  padding: 26px 39px;
  border-radius: 16px;
  text-align: center;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  font-size: 23px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color .3s;
}

.btn:focus {
  background-color: var(--btn-bg-color-foc-hov);
}

.btn:focus-visible {
  outline: none;
}

.btn:hover {
  background-color: var(--btn-bg-color-foc-hov);
}

.btn:active {
  background-color: var(--btn-bg-color-active);
}

.link {
  max-width: 175px;
  /* min-height: 60px; */
  padding: 20px 38px;
  border-radius: 16px;
  border: none;
  outline-offset: -3px;
  outline: 3px solid var(--link-border-color);
  color: var(--link-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  transition: background-color;
  transition-duration: .3s;
}

.link:focus {
  background-color: var(--link-bg-foc-hov-color);
  outline: var(--link-bg-foc-hov-color);
}

.link:hover {
  background-color: var(--link-bg-foc-hov-color);
  outline: var(--link-bg-foc-hov-color);
}

.link:active {
  background-color: var(--link-bg-active-color);
  outline: var(--link-bg-foc-hov-color);
}

.section-title {
  font-size: 48px;
  font-weight: 400;
}

/* header */

.header {
  border-radius: 0px 0px 32px 32px;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__logo-nav {
  padding-top: 15px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  margin-right: 100px;
}

.logo__img {
  width: 39px;
  height: 72px;
  margin-right: 10px;
}

.header__right-block {
  gap: 85px;
}

.header-nav {
  max-width: 800px;
  column-gap: 85px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.header__item {
  max-width: 160px;

}

.header__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  outline: 2px solid #FFF;
  outline-offset: 5px;
  transition: color, outline-color;
  transition-duration: .3s;
}


.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -7px;
  height: 2px;
  transform: scaleX(0);
  transition: transform;
  transition-duration: .3s;
}

.header__link:focus {
  outline-color: var(--nav-link-outline-focus);
}

.header__link:hover {
  outline: #FFF;
}

.header__link:hover::after {
  background-color: #FF9900;
  transform: scale(1);
}

.header__link:active {
  outline: #FFF;
  color: var(--nav-link-color-active);
}

.header__link:active::after {
  background-color: var(--nav-link-color-active);
  transform: scale(1);
}

.header__last-link {
  outline: 2px solid #FFF;
  outline-offset: 5px;
  stroke: #000;
  transition: stroke, color, outline-color;
  transition-duration: .3s;
}

.header__last-link rect {
  fill: #000;
  transition: fill;
  transition-duration: .3s;
}

.header__last-link:focus {
  outline-color: var(--btn-bg-color-foc-hov);
}

.header__last-link:hover {
  outline-color: #FFF;
  stroke: var(--btn-bg-color-foc-hov);
}

.header__last-link:hover rect {
  fill: var(--btn-bg-color-foc-hov);
}

.header__last-link:active {
  outline-color: #FFF;
  stroke: #000;
}

.header__last-link:active rect {
  fill: #000;
}

/* main */

.main {
  padding-top: 25px;
}

/* title-part */

.title-part__body {
  min-height: 620px;
  padding: 99px 80px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 32px;
  background: url('../img/title-part-img.jpg');
  background-color: #666666;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

.title-part__title {
  padding-top: 1.9px;
  line-height: 1.21;
  max-width: 840px;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
}

.title-part__text {
  padding-top: 0.2px;
  max-width: 840px;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

/* about-us */

.about-us {}

.about-us__title {
  margin-bottom: 23px;
}

.about-us__p-after-title {
  max-width: 1250px;
  margin-bottom: 50px;
}

.about-us__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about-us__advatntages {
  gap: 32px;
  flex-wrap: wrap;
}

.about-us__left-block {
  width: 868px;
  min-height: 622px;
  border-radius: 32px;
  align-items: end;
  background-image: url(../img/advantages-left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us__advatntages-left {
  width: 100%;
  padding: 49px;
  border-radius: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.50);
}

.about-us__advantages-text {
  max-width: 432px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.about-us__right-block {
  max-width: 870px;
  width: 100%;
  gap: 32px;
  flex-direction: column;
}

.about-us__advatntages-right {
  width: 100%;
  min-height: 295px;
  padding: 65px 115px 60px 299px;
  border-radius: 32px;
  border: 1px solid #CACACA;
  background-position: 60px 65px;
  background-size: 190px 165px;
  background-repeat: no-repeat;
}

.about-us__advatntages-right_cub {
  background-image: url(../img/advantages-cub.svg);
}

.about-us__advatntages-right_gear {
  background-image: url(../img/advantages-gear.svg);
}

.about-us__p-title {
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
}

/* stages */

.stages {
  padding-top: 78px;
}

.stages__title {
  display: block;
  margin-bottom: 33px;
}

.stages__body {
  justify-content: space-between;
  gap: 32px;
}

.stages__left-column {
  max-width: 870px;
}

.stages__p-title {
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.stages__text {
  max-width: 758px;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.stages__links {
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stages__details {
  padding: 20px 38px;
  background-color: var(--link-bg-color);
  border: none;
}

.stages__agreement {
  padding: 20px 37px;
  outline-offset: -1px;
  outline: 1px solid #000;
  color: #000;
  letter-spacing: -.2px;
  transition: color, background-color, outline-color;
  transition-duration: .3s;
}

.stages__agreement:focus {
  color: #FFF;
  background-color: #666666;
  outline-color: #666666;
}

.stages__agreement:hover {
  color: #FFF;
  background-color: #666666;
  outline-color: #666666;
}

.stages__agreement:active {
  color: #FFF;
  background-color: #000;
  outline-color: #000;
}


.stages__right-column {
  padding-top: 11px;
}

/* questions */

.questions {
  padding-bottom: 99px;
}

.questions__body {
  padding-top: 47px;
}

.questions__title {
  margin-bottom: 32px;
}

.questions__list {
  gap: var(--questions-gap);
  flex-wrap: wrap;
  --questions-gap: 32px;
  --questions-offsets: 2;
}

.questions__item {
  max-width: calc((100% - var(--questions-offsets) * var(--questions-gap)) / (var(--questions-offsets) + 1));
  min-width: 320px;
  width: 100%;
  min-height: 292px;
  padding: 65px 65px 63px 59px;
  border-radius: 32px;
  border: 1px solid #CACACA;
}

.questions__p-title {
  display: block;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.questions__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* footer */

.footer {
  padding-top: 32px;
  background: #000;
}

.footer__container {
  padding-left: 15px;
  padding-right: 15px;
}

.footer__body {
  padding: 20px 35px;
  flex-wrap: wrap;
}

.footer__left-column {
  max-width: 251px;
  width: 100%;
  margin-right: 350px;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  margin-bottom: 9px;
}

.footer__logo .logo__img_circle {
  fill: #FFF;
}

.footer__logo .logo__img_foots {
  fill: #FF9900;
}

.footer__logo .logo__text {
  fill: #FFF;
}

.footer__list {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer__link {
  color: #CACACA;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  outline-offset: 5px;
  outline: 2px solid #000;
  transition: color, outline-color;
  transition-duration: .3s;
}

.footer__link:focus {
  border: none;
  outline-color: var(--nav-link-outline-focus);
}

.footer__link:hover {
  color: var(--nav-link-outline-focus);
}

.footer__link:active {
  color: var(--nav-link-after-active);
  outline: none;
}

.footer__social {
  gap: 25px;
  flex-wrap: wrap;
}

.social {
  display: inline-block;
  width: 60px;
  height: 60px;
  outline-offset: 5px;
  outline: 2px solid #000;
  transition: color, outline-color;
  transition-duration: .3s;
}

.social svg {
  fill: #666666;
  transition: fill;
  transition-duration: .3s;
}

.social:focus {
  border: none;
  outline-color: var(--nav-link-outline-focus);
}

.social:hover svg {
  fill: var(--nav-link-outline-focus);
}

.social:active {
  outline: none;
}

.social:active svg {
  fill: var(--nav-link-after-active);
}


.footer__center-column {
  max-width: 570px;
  width: 100%;
  min-height: 494px;
  margin-right: 235px;
  flex-direction: column;
}

.footer__request-title {
  margin-bottom: 29px;
  color: #CACACA;
}

.footer__form {
  margin-bottom: 32px;
  flex-direction: column;
  gap: 25px;
}

.footer__input {
  width: 100%;
  height: 60px;
  padding: 22px 24px;
  border-radius: 16px;
  border: none;
  color: #CACACA;
  background-color: #414141;
  resize: none;
  transition: background-color;
  transition-duration: .3s;
}

.footer__input:focus {
  background-color: #666666;
  outline: none;
}

.footer__input:focus-visible {
  background-color: #666666;
  outline: none;
  color: #FFF;
}


.footer__input:hover {
  background-color: #666666;
}

.footer__input:active {
  background-color: #666666;
  outline: none;
}

.footer__input::placeholder {
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 32px; */
  /* letter-spacing: .8px; */
}

.footer__text-area {
  width: 100%;
  min-height: 150px;
}

.footer__text {
  max-width: 363px;
  min-height: 320px;
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__btn-accept {
  padding-top: 6px;
  gap: 22px;
  flex-wrap: wrap;
  align-items: center;
}


.footer__btn {
  padding: 19px 52px;
  font-size: 16px;
}


.footer__accept {
  display: inline-block;
  color: #CACACA;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.footer__visible-checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  vertical-align: middle;
}

.footer__visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background-image: url(../img/Check.svg);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease;
}

.footer__checkbox:checked~.footer__visible-checkbox::before {
  opacity: 1;
}

.footer__checkbox:focus~.footer__visible-checkbox {
  outline: 1px solid #FF9900;
  outline-offset: 2px;
}

.footer__checkbox-text {
  vertical-align: middle;
}

.footer__right-column {
  max-width: 360px;
  padding-top: 87px;
}
