html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --btn-color-foc: #FFF;
  --btn-bg-foc: #C93;
  --btn-bg-hov: #C93;
  --btn-bg-act: #A47312;
  --link-color: #C93;
  --link-color-foc: #C93;
  --link-color-gray-hov: #C93;
  --link-color-hov: #F0BF5F;
  --link-color-act: #A47312;
  --outline-color: #C93;
  --outline-color-foc: #C93;
  --outline-color-hov: #F0BF5F;
  --outline-color-act: #A47312;
  --fill: #C93;
  --fill-foc: #C93;
  --fill-hov: #F0BF5F;
  --fill-act: #A47312;
  --special-offer-color: #F0BF5F;
  --special-offer-color-act: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-Light.eot');
  src: local('Muller Light'), local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-Regular.eot');
  src: local('Muller Regular'), local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-Medium.eot');
  src: local('Muller Medium'), local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-Bold.eot');
  src: local('Muller Bold'), local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  background: #F1F1F1;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link-arrow {
  background-image: url(../img/arrow.png);
  background-position: right center;
  background-size: 11px 15px;
  background-repeat: no-repeat;
}

.section-title {
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  font-weight: 400;
}

.section-offset {
  padding-bottom: 35px;
  padding-top: 35px;
}

.padding-offset {
  padding-left: 45px;
  padding-top: 40px;
}

.text {
  margin: 0;
  /* color: #000; */
  /* font-size: 16px; */
  /* font-weight: 400; */
}

.button {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--outline-color);
  color: var(--link-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-break: break-word;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.button:focus {
  color: var(--btn-color-foc);
  background: var(--btn-bg-foc);
  outline: none;
}

.button:hover {
  color: var(--btn-color-foc);
  background: var(--btn-bg-hov);
}

.button:active {
  color: var(--btn-color-foc);
  background: var(--btn-bg-act);
}

.fd-column {
  flex-direction: column;
  align-items: flex-start;
}

/* header */
.header {
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top-line {
  margin-bottom: 30px;
  align-items: center;
  font-size: 0;
}

.header-logo {
  margin-right: 40px;
  border-radius: 15px;
  background: #F0BF5F;
}

.header-contacts {
  max-width: 709px;
  width: 100%;
  margin-right: 40px;
}

.header-phone-link {
  color: #666;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  outline: none;
  transition: color;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.header-phone-link:focus {
  color: var(--link-color-foc);
  outline-offset: 5px;
  outline: 1px solid var(--outline-color-foc);
}

.header-phone-link:hover {
  color: var(--link-color-gray-hov);
}

.header-phone-link:active {
  color: var(--link-color-act);
  outline: none;
}

.header-sign-up {
  position: relative;
  max-width: 160px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  /* margin-left: auto; */
  color: var(--link-color-foc);
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: color;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.header-sign-up-arrow {
  position: relative;
  top: -1px;
  max-width: 24px;
  width: 100%;

}

.header-sign-up svg {
  fill: var(--fill);
  transition: fill;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.header-sign-up:focus svg {
  fill: var(--fill-foc);
}

.header-sign-up:focus {
  color: var(--link-color-foc);
  outline-offset: 5px;
  outline: 1px solid var(--outline-color-foc);
}

.header-sign-up:hover svg {
  fill: var(--fill-hov);
}

.header-sign-up:hover {
  color: var(--fill-hov);
  outline: none;
}

.header-sign-up:active svg {
  fill: var(--fill-act);
}

.header-sign-up:active {
  color: var(--link-color-act);
  outline: none;
}


.header-nav {
  padding: 14px 45px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
}

.header-list {
  max-width: 700px;
  flex-wrap: wrap;
  gap: 45px;
}

.header-link {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transition-property: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header-link:focus {
  color: var(--link-color-foc);
  outline-offset: 5px;
  outline: 1px solid var(--outline-color-foc);
}

.header-link:hover {
  color: var(--link-color-gray-hov);
}

.header-link:active {
  color: var(--link-color-act);
  outline: none;
}

.header-buttons {
  max-width: 370px;
  gap: 40px;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* main */

.special-offer-column {
  flex-direction: column;
  margin-right: 24px;
}


.special-offer-column-block {
  width: 573px;
  min-height: 258px;
  margin-bottom: 24px;
}

.special-offer-column-block:focus-within {
  outline-offset: 8px;
  outline: 1px solid var(--outline-color-foc);
}

.special-offer-column-cell {
  width: 100%;
  padding-right: 108px;
  padding-bottom: 40px;
  flex-direction: column;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.special-offer-maldives {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/maldives.jpg);
}

.special-offer-crith {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/crith.jpg);
}

.special-offer-column-block:last-child {
  margin-bottom: 0;
}

.special-offer-column-cell-title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 420px;
  word-wrap: break-word;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

.special-offer-price {
  margin-bottom: 42px;
  max-width: 420px;
  word-wrap: break-word;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.special-offer-item-cell-link {
  /* max-width: 101px; */
  justify-content: flex-start;
  word-wrap: break-word;
  color: var(--special-offer-color);
  font-size: 16px;
  font-weight: 400;
}

.special-offer-item-cell-link-text {
  margin-right: 8px;
  transition-property: color, margin-right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.special-offer-item-cell-link:focus {
  outline: none;
}

.special-offer-item-cell-link-text:hover {
  margin-right: 17px;
  /* outline: 2px solid #FFF; */
}

.special-offer-item-cell-link-text:active {
  color: var(--special-offer-color-act);
  margin-right: 8px;
}

.special-offer-column-right {
  width: 573px;
  min-height: 540px;
}

.special-offer-column-right-cell {
  /* height: 100%; */
  min-height: 540px;
  margin-right: 0;
  padding-right: 229px;
  padding-bottom: 40px;
  justify-content: end;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/special-hotel-room.jpg);
  background-position: left top;
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.special-offer-column-cell-title-big {
  margin: 0;
  margin-bottom: 15px;
  max-width: 300px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
}

.special-offer-price-big {
  color: white;
  font-size: 30px;
  font-weight: 400;
}

/* about us */

.about-us-text {
  max-width: 888px;
  text-align: justify;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

/* services */
.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  width: 573px;
  min-height: 330px;
}

.services-item:focus-within {
  outline-offset: 8px;
  outline: 1px solid var(--outline-color-foc);
}

.services-list-cell {
  padding: 191px 45px 35px;
  border-radius: 15px;
  background: #FFF;
  background-size: 100% 165px;
  background-position: top center;
  background-repeat: no-repeat;
}

.services-item-img1 {
  background-image: url(../img/services-img1.jpg);
}

.services-item-img2 {
  background-image: url(../img/services-img2.jpg);
}

.services-item-img3 {
  background-image: url(../img/services-img3.jpg);
}

.services-item-img4 {
  background-image: url(../img/services-img4.jpg);
}

.services-item-blog {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.services-item-blog-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: var(--link-color);
}

.services-item-blog-link {
  justify-content: flex-start;
  align-items: center;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.services-item-blog-link-text {
  margin-right: 8px;
  transition-property: margin-right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.services-item-blog-link svg {
  stroke: var(--fill);
}

.services-item-blog-link:focus {
  color: var(--link-color-foc);
  outline: none;
}

.services-item-blog-link:hover {
  color: var(--link-color-hov);
}

.services-item-blog-link:hover svg {
  stroke: var(--fill-hov);
}

.services-item-blog-link:active {
  color: var(--fill-act);
}

.services-item-blog-link:active svg {
  stroke: var(--fill-act);
}

.services-item-blog-link-text:hover {
  margin-right: 20px;

}

.services-item-blog-link-text:active {
  margin-right: 8px;
}

.services-item-blog-text {
  max-width: 402px;
  /* color: #000; */
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;

}

/* advantages */
.advantages-list {
  gap: 22px;
  flex-wrap: wrap;
}

.advantages-item {
  max-width: 276px;
  width: 100%;
  min-height: 276px;
  padding: 116px 45px 32px;
  border-radius: 15px;
  background: #FFF;
  background-size: 64px 66px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.advantages-item-text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  word-wrap: break-word;
}

.advantages-image-1 {
  background-image: url(../img/bathtub.svg);
}

.advantages-image-2 {
  background-image: url(../img/hanger.svg);
}

.advantages-image-3 {
  background-image: url(../img/heating.svg);
}

.advantages-image-4 {
  background-image: url(../img/hotel-key.svg);
}

.advantages-image-5 {
  background-image: url(../img/parking.svg);
}

.advantages-image-6 {
  background-image: url(../img/reception.svg);
}

.advantages-image-7 {
  background-image: url(../img/security-box.svg);
}

.advantages-image-8 {
  background-image: url(../img/swimming-pool.svg);
}

/* accomondation */
.accommindation-offset {
  margin-right: 4px;
}

.accommodation-list {
  flex-wrap: wrap;
  gap: 24px;
}

.accommodation-item {
  max-width: 374px;
  width: 100%;
  min-height: 440px;
  border-radius: 15px;
  background: #FFF;
}

.accommodation-blog {
  padding: 16px 45px 45px;
  flex-direction: column;
}

.accommodation-hotel-image {
  display: block;
}

.accommodation-price {
  margin-bottom: 16px;
  justify-content: space-between;
}

.accommindation-price-text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}

.accommondation-price-cost {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.accomondation-hotel-info {
  flex-direction: column;
  align-items: flex-start;
}

.accommodation-hotel-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}

.accommodation-address {
  margin-bottom: 20px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}

.accommodation-rooms-link {
  max-width: 100%;
}

.accommodation-last-blog {
  position: relative;
  padding: 27px 45px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #666;
  background-image: url(../img/hotel-show-more.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.accommodation-last-blog-link {
  /* min-width: 265px;
  max-height: 380px;
  overflow: hidden; */
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  outline: none;
}

.accommodation-last-blog-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.accommodation-last-blog-link svg {
  stroke: #FFF;
  transition-property: stroke;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.accommodation-last-blog-link-text {
  margin-right: 8px;
  color: #fff;
  transition-property: color, margin-right;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.accommodation-last-blog-link:focus .accommodation-last-blog-link-text {
  /* margin-right: 8px; */
  color: var(--link-color-foc);
}

.accommodation-last-blog-link:hover .accommodation-last-blog-link-text {
  margin-right: 20px;
  color: var(--link-color-hov);
}

.accommodation-last-blog-link:active .accommodation-last-blog-link-text {
  margin-right: 8px;
  color: var(--link-color-act);
}

.accommodation-last-blog-link:focus svg {
  stroke: var(--fill-foc);
}

.accommodation-last-blog-link:hover svg {
  stroke: var(--fill-hov);
}

.accommodation-last-blog-link:active svg {
  stroke: var(--fill-act);
}

/* tour */

.tour-block {
  padding: 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.tour-title {
  padding-left: 0;
  color: #000;
  font-size: 40px;
  font-weight: 400;
}

.tour-constructor {
  /* max-width: 865px; */
  padding: 32px 28px;

  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: #FFF;
}

.tour-constructor-item {
  width: 169px;
}

/* .tour-constructor-item:focus-within {
  outline-offset: 2px;
  outline: 1px solid #C93;
} */

.tour-constructor-item-number {
  width: 121px;
}

.tour-constructor-list {
  max-width: 865px;
  gap: 41px;
  justify-content: space-between;
}

.tour-constructor-item-title {
  display: block;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.tour-constructor-item-select {
  width: 100%;
  border: none;
  outline: none;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.tour-constructor-item-select:focus {
  outline-offset: 2px;
  outline: 1px solid var(--outline-color-foc);
}

.tour-constructor-item-select:hover {
  color: var(--link-color-hov);
}

.tour-constructor-item-select:active {
  color: var(--link-color-act);
  outline: none;
}


.tour-constructor-item-option {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.tour-constructor-item-input-number {
  max-width: 121px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.tour-constructor-list-submit {
  max-width: 108px;
  width: 100%;
}

.tour-constructor-list-submit-btn {
  width: 100%;
}

/* contacts */

.contacts-part {
  padding: 45px;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
}

.contacts-column-left {
  max-width: 374px;
  margin-right: 53px;
}

.contacts-column-left-list {
  margin-bottom: 45px;
}

.contacts-column-left-item {
  padding-top: 25px;
  padding-bottom: 23px;
  min-width: 100px;
  justify-content: flex-start;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-column-left-item:first-child {
  padding-top: 0;
}

.contacts-column-left-title {
  width: 98px;
  margin-right: 47px;
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;
}

.contacts-column-left-address {
  flex-direction: column;
  align-items: flex-start;
  max-width: 230px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contacts-column-left-link {

  color: #C93;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts-column-left-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--outline-color-foc);
  color: var(--link-color-foc);
}

.contacts-column-left-link:hover {
  outline: none;
  color: var(--link-color-hov);
}

.contacts-column-left-link:active {
  outline-offset: 2px;
  color: var(--link-color-act);
}

.contacts-column-left-link-descr {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.contacts-column-left-btn-route {
  padding: 28px 30px;
  max-width: 216px;
}

.contacts-column-right {
  width: 653px;
  height: 528px;
  border-radius: 10px;
}

/* footer */

.footer {
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer-block {
  padding: 45px;
  background: #333;
  border-radius: 15px;
  background-image: url(../img/footer-img.svg);
  background-repeat: no-repeat;
  background-position: bottom right 177px;
}

.footer-left {
  max-width: 302px;
  margin-right: 125px;
  flex-direction: column;
  align-items: flex-start;
}

.footer-left-copyright {
  margin-bottom: 37px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
}

.footer-left-text {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
}

.footer-left-agreement {
  color: #C93;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer-left-agreement:focus {
  outline-offset: 2px;
  outline: 1px solid var(--outline-color-foc);
  color: var(--link-color-foc);
}

.footer-left-agreement:hover {
  color: var(--link-color-hov);
}

.footer-left-agreement:active {
  color: var(--link-color-act);
}


.footer-center {
  max-width: 380px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-center-address {
  margin-bottom: 15px;
  color: #FFF;
  line-height: 30px;
}

.footer-center-phones {
  margin-bottom: 15px;
}

.footer-center-link {
  color: #C93;
  line-height: 150%;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer-center-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--outline-color-foc);
  color: var(--link-color-foc);
}

.footer-center-link:hover {
  color: var(--link-color-hov);
  outline: none;
}

.footer-center-link:active {
  color: var(--link-color-act);
}

.footer-right {
  margin-left: auto;
}

.footer-right-social-list {
  flex-direction: column;
  align-items: center;
}

.footer-social-item {
  margin-bottom: 20px;
}

.footer-social-link {
  display: block;
  width: 25px;
  height: 25px;
  outline: none;
}

.footer-social-link svg {
  fill: #999999;
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer-social-link:focus svg {
  outline-offset: 2px;
  fill: var(--fill-foc);
}

.footer-social-link:hover svg {
  fill: var(--fill-hov);
}

.footer-social-link:active svg {
  fill: var(--fill-act);
}
